<ul class="nav-right pull-right list-unstyled">
  <li class="dropdown langs text-normal" data-ng-controller="LangCtrl">
    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-flash"></span>
    </a>
  <ul class="dropdown-menu list-langs" role="menu">

    <li class="drop-down-menu-header">
      <% if user.class == User %>
        <%= link_to 'Remove user', event_debt_path(@event.id, user.debts.find_by(event: @event).id), method: :delete, class: "white-text-please" %>
      <% else %>
        <%= link_to 'Remove invitee', event_userinvitee_path(@event.id, user.id), method: :delete, class: "white-text-please" %>
      <% end %>
    </li>

    <li class="drop-down-menu-header">
      <% if user.class == User && !user.debts.find_by(event: @event).paid%>
          <%= link_to 'Mark as paid', payments_path(user.id, @event.id), method: :post, class: "white-text-please" %>
      <% elsif user.class == Userinvitee %>
        <%= link_to "Edit", edit_event_userinvitee_path(@event, user.id), class: "white-text-please", data: { toggle: 'modal', target: "#myModall" } %>
      <% end %>
    </li>
  </ul>
  </li>
</ul> 