<div class="container">
    <div class"title-container">
      <h3 class="event-title "><%= @event.title %></h3>
      <h3 class="event-timer "><%= @event.deadline.strftime("%d-%m-%y") %> </h3>
    </div>
    <% if tabulator(@event, current_user).any? %>
      <div class"user-container">
        <% if current_user == @event.organiser %>
          <%= render "events/organiser_show" %>
        <% else %>
          <%= render "events/participant_show" %>
        <% end %>
      </div>
    <% else %>
      <h3>Dancing by yourself? No invitees to this party!</h3>
    <% end %>
</div>


<div class="modal fade" id="myModall" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

    </div>
  </div>
</div>