<div class="page-signup">
  <div class="signin-header">
    <div class="container text-center">
      <section class="logo">
          <%= image_tag("angry-kitty-logo.png", class: "kitty-logo") %>
      </section>
    </div>
  </div>
  <div class="signup-body">
    <div class="container">
      <div class="form-container">

      </div>
    </div>
  </div>
</div>
