<div class="page-signup">
  <div class="signin-header">
    <div class="container text-center">
      <section class="logo">
          <%= image_tag("angry-kitty-logo.png", class: "kitty-logo") %>
      </section>
    </div>
  </div>
  <div class="signup-body grey">
    <div class="container">
      <div class="form-container">
        <blockquote class="example-twitter">
          <p class="text">
            Have you ever found it frustrating chasing friends for money?
          </p>
          <%= link_to("next", "#", class: "nextlink btn btn-purple") %>     
          <%= link_to("Yes", "#", class: "yeslink btn btn-success") %>
          <%= link_to("No", "#", class: "nolink btn btn-danger") %>
        </blockquote>

        <section id="progress-circles-container">
          <% 8.times do %>
            <div class="progress-circles"></div>
          <% end %>
        </section>

      </div>
    </div>
  </div>
</div>
