/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require_tree .
 *= require_self
 */
li {
	list-style-type: none;
}

li a:hover{
	text-decoration: none;
	box-shadow: 1px black solid;
}

.form-control {
	width: 60%;
  margin-bottom: 20px;
}

.display-inline {
  display: inline-block;
  width: 19.3%;
}

.userinvitees_list {
  padding: 0;
}

.form-group .add-invitees {
  margin-left: -20px;
  margin-top: 6px;
}

html, body {
  overflow: auto !important;
}

.events {

  width: auto;
  margin: 0 auto;
  padding: 0;
}

.ui-select label {
  margin-left: -20px;
  margin-top: 13px;
}

section.panel {
  margin: 2% auto;
  width: 65%;
}

.ui-select:after {
  right: 34px;
}

.ui-select > select {
  margin: 10px 24px;
}

.create-event {
  margin-left: 193px;
  margin-top: 150px;
}

input[type="date"] {
  color: red;
}


/******************

Media Queries
******************/

@media (min-width: 200px) and (max-width: 990px) {
  .events {
    margin: 0 5px;
  }

  .post {
    width: auto;
  }
}
