/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'Glyphicons Halflings';

  src: font-url('glyphicons-halflings-regular.eot');
  src: font-url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), font-url('glyphicons-halflings-regular.woff') format('woff'), font-url('glyphicons-halflings-regular.ttf') format('truetype'), font-url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

li {
	list-style-type: none;
}

li a:hover{
	text-decoration: none;
	box-shadow: 1px black solid;
}

.form-control {
	width: 70%;
  margin-bottom: 20px;
}

.display-inline {
  // display: inline-block;
  width: 70%;
}

.userinvitees_list {
  padding: 0;
}

.form-group .add-invitees {
  margin-left: -2px;
  margin-top: 6px;
}

html, body {
  overflow: auto !important;
}

body {
  margin-top: 50px;
}
.events {

  width: auto;
  margin: 0 auto;
  padding: 0;
}

.ui-select label {
  margin-left: -2px;
  margin-top: 13px;
}

section.panel {
  margin: 2% auto;
  width: 97%;
}

.ui-select:after {
  right: 34px;
}

.ui-select > select {
  margin: 10px 18px;
  width: 20%;
}

.create-event {
  margin-left: 88px;
  margin-bottom: 7px;
}

input[type="date"] {
  color: red;
}

.modal-content .panel {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0;
  width: 100%
}

.remove-friend {
  display: none;
}

@media (min-width: 200px) and (max-width: 990px) {
  .events {
    margin: 0 5px;
  }

  .post {
    width: 100%;
  }
}

@media (max-device-width: 480px) {
  .form-control {
    width: 100%;
  }

  .ui-select:after {
    right: 37px;
    margin-top: 20px;
    }

  button.remove-friend {
    display: inline-block;
  }

  button.remove-x {
    display: none !important;
    visibility: hidden !important;
  }

  .create-event {
    margin: 0;
    margin-left: 10px;
  }

}

.events-headline {
  text-align: center;
}


.progress-bar-success {
  background-color: #bf8cbc;
}


.smaller-font {
  font-size: 10px;
}

.dropdown-menu.with-arrow.pull-right {
  margin-top: 4px;
}

.edit-btn {
  height: 19px;
  width: 53px;
}

.edit-userinvitee {
  margin-top: 10px;
}

.edit-userinvitee-label {
  margin-top: 15px;
}

.top-header .langs .list-langs a {
  padding: 8px 21px 7px 33px;
}

.btn.btn-default.btn-lg.col-md-12.post {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom-color: #bf8cbc;
  border-bottom-style: solid;
  border-bottom-width: 4px;
}

.modal-body {
  padding: 1px !important;
}

.panel-body {
  padding: 1px !important;
}

button.delete_userinvitee {
  width: 70%;
  margin-bottom: 50px;
}

