// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.event-title{
  height: 100%;
    text-align: center;
}


.event-timer{
  font-size: 20px;
  margin-top: 24px;
  text-align: right;
}

.table{
  background-color: white;
}

h3{
  display: inline-block;
}