// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
  padding-bottom: 50px;
}

.delete-event{
  margin-top: 22px;
  margin-left: 10px;
  display: inline-block;
}
.event-title{
  height: 100%;
  position: relative;
  float: left;
  padding-left: 20px;
}

.event-timer{
  font-size: 20px;
  margin-top: 24px;
  position: relative;
  float: right;
  padding-right: 20px;
}

@media(max-width: 900px) {
  .event-title{
    width: 100%;
    display: block;
  }

  .event-timer{
    position: relative;
    float: left;
    padding-left: 20px;
    display: block;
    margin-top: 0px;
  }

  .delete-event{
    display: block;
  }

}
.table {
  background-color: white;
  #delete-column{
    width: 45px;
  }

  .btn {
    border-radius: 5px;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0px;
    height: 30px;
    width: 121px;
    padding-top: 3px;
    cursor: default;
  }

  .red-button:hover {
    background-color: rgb(233,75,59);
    border-color: rgb(233,75,59);
    cursor: default;
  }

  .green-button:hover {
    color: white;
    background-color: #23ae89;
    border-color: #1f9978;
    cursor: default;
  }
  .yellow-button:hover {
    color: white;
    background-color: #ffb61c;
    border-color: #ffae02;
    cursor: default;
  }
  .red-button:active {
    background-color: rgb(233,75,59);
    border-color: rgb(233,75,59);
    cursor: default;
    box-shadow: none;
  }

  .green-button:active {
    color: white;
    background-color: #23ae89;
    border-color: #1f9978;
    cursor: default;
    box-shadow: none;
  }
  .yellow-button:active {
    color: white;
    background-color: #ffb61c;
    border-color: #ffae02;
    cursor: default;
    box-shadow: none;
  }
}

h3{
  display: inline-block;
}

.twitter-logo{
  height: 23px;
}

@media (max-width: 768px) {
  .nav-tabs > li {
    width: 33.3%;
  }
  ul.events > li.organising {
    margin-top: -40px;
  }
}

@media (max-width: 991px) {

  ul.events > li.organising {
    margin-top: -40px;
  }

}