// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
  /*background-color: blue;*/
}

.column{
  /*background-color: red;*/
}

.event-title{
  height: 100%
}


.event-timer{
  font-size: 20px;
  margin-top: 24px;
}