// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup-body.grey {
	background-color: #dfe0e6;
	border-top: #dfe0e6;
}

.progress-circles {
	width: 25px;
	height: 25px;
	background-color: white;
	border-radius: 100%;
	display: inline-block;
	margin-left: 10px;
}

#progress-circles-container {
	text-align: center;
	position: relative;
	margin-top: 60px;
}

.progress-circles:nth-child(1) {
	background-color: #bf8cbc;
}

.progress-circles.purple {
	background-color: #bf8cbc;
}