<footer class="col-sm-2 footer">
  <div class="wrapper">
    Created by <a href="https://github.com/apostoiis" target="blank">Apo</a>, <a href="https://github.com/danldb" target="blank"">Dan</a>, <a href="https://github.com/NicoSa" target="blank"">Nico</a>, <a href="https://github.com/robindoble" target="blank"">Robin</a>, <a href="https://github.com/Scott123454" target="blank">Scott</a>, <a href="https://github.com/sroop" target="blank"">Sroop</a> and <a href="https://github.com/willhall88" target="blank">Will</a>.
  </div>
</footer>