<footer class="col-sm-2 footer">
  <div class="wrapper">
    Created by <a href="https://github.com/apostoiis" target="blank">Apo</a>, <a href="https://github.com/danldb" target="blank"">Dan</a>, <a href="https://github.com/NicoSa" target="blank"">Nico</a>, <a href="https://github.com/robindoble" target="blank"">Robin</a>, <a href="https://github.com/Scott123454" target="blank">Scott</a>, <a href="https://github.com/sroop" target="blank"">Sroop</a> and <a href="https://github.com/willhall88" target="blank">Will</a>.
  </div>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52158579-1', 'angrykittyproduction.herokuapp.com');
  ga('send', 'pageview');

</script>
</footer>